html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, "Brush Script MT", "Times New Roman", sans-serif;

}

.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  
}

.logo {
  margin-left: 150px;
}

.header-link-box {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 150px;
}

.header-link-box a, .content-box-1 p {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.header, .content-box-1 {
  background-color: #1F2937;
}

.content-box-1 h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 0;
  padding: 10px 0px;
}


.content-box-1 {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 460px;
  padding-top: 40px;
  padding-bottom: 60px;
  width: 100vw;
}


.left-column {
  
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-right: 8px;
  width: 550px;
  height: auto;
  
  
}

.right-column {
  width: 550px;
  height: auto;
}

.main-jelly-image {
  object-fit: cover; /* stops image getting squished */
}



.content-box-1 button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  font-size: 18px;
  padding: 5px;
}



/* content-box-2 */

.content-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  width: 100vw;
}

.content-box-2 h2 {
  font-size: 36px;
  font-weight: 800;
}

.fact-box p, .content-box-2 h2 {
  color: #1F2937;
}

.fact-box p {
  font-size: 18px;
}

.info-boxes {
  display: flex;
  justify-content: center;
  gap: 5%;
  
}

.fact-box {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.fact-box img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 10px;
}

/* content-box-3 */

.content-box-3 {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  width: 100vw;
}

.jelly-quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-weight: 200;
}

.quote-person {
  font-size: 18px;
  font-weight: 800;
  margin-left: 250px;
  color: #1F2937;
}

/* content-box-4 */

.content-box-4 {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  width: 100vw;
}

.ad-box {
  background-color: #3882F6;
  gap: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0px 20%;
  border-radius: 10px;
  flex: 1;
}

.ad-text {
  margin-left: 8%;
  font-size: 18px;
  color: #F9FAF8;
  width: 600px;
}

.ad-box button {
  margin-right: 8%;
  padding: 5px;
  font-size: 18px;
  white-space: nowrap; /*stops text going on new line*/
  background-color: #3882F6;
  border-style: solid;
  border-color: #F9FAF8;
  color: #F9FAF8;
  border-radius: 8px;
}

.sign-up {
  font-size: 13px;
}

/* footer */

.footer {
  background-color: #1F2937;
  width: 100vw;
}

.footer p {
  color: #E5E7EB;
  padding: 20px 0px;
  font-size: 11px;
  text-align: center;
}